:root {
    font-size: 62.5%;
    --blue: #0065FC;
    --blue-light: #DEEBFF;
    --gray: #b1b1b1;
    --gray-light: #F2F2F2;
    --black: #333333;
    --white: #fff;
    --shadow: #a1a1a1;
}

 ::placeholder {
    color: var(--gray);
    opacity: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-size: 1.6rem;
}

button,
a {
    cursor: pointer;
}

a {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--black);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.info p,
section p {
    font-size: 1.4rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5%;
}


/* HEADER */


/* Navigation */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem 0;
}

.nav ul {
    display: flex;
}

.nav-link,
.register-link {
    padding: 6.3rem 3rem 0 3rem;
    border-top: 2px solid transparent;
}

.nav-link:hover {
    color: var(--blue);
    border-top: 2px solid var(--blue);
}

.register-link {
    opacity: 0.8;
    font-weight: bold;
    color: var(--blue);
}

.register-link:hover {
    border-top: 2px solid transparent;
}


/* Search section */

.search h1 {
    padding-bottom: 0.6rem;
    font-size: 2rem;
}

.search .location {
    padding-bottom: 1.6rem;
}


/* search section form */

.search-form {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-bottom: 3rem;
}

.search-form i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    min-width: 4.6rem;
    min-height: 4.6rem;
    border-radius: 1.5rem 0 0 1.5rem;
    background: var(--gray-light);
}

.search-form input {
    height: 4.6rem;
    font-weight: bold;
    padding-left: 1.2rem;
    border-left: 0;
    border-right: 0;
    border-top: 0.1rem solid var(--gray-light);
    border-bottom: 0.1rem solid var(--gray-light);
}

.search-form input:focus {
    outline: var(--gray-light) solid 1px;
}

.search-form button {
    padding: 0 1.6rem;
    height: 4.6rem;
    font-weight: bold;
    border: none;
    border-radius: 0 1.5rem 1.5rem 0;
    color: var(--white);
    background: var(--blue);
}

.search-icon {
    display: none;
}


/* search section filters */

.filters {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-bottom: 3rem;
}

.filters h2 {
    padding-right: 3rem;
}

.filters .filter-link {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 2rem 0 0;
    border-radius: 3rem;
    border: 2px solid var(--gray-light);
    font-weight: bold;
    margin-right: 2.2rem;
    background-color: var(--white);
}

.filters .filter-link:hover {
    background-color: var(--gray-light);
}

.filter-link i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.6rem;
    height: 4.6rem;
    border-radius: 50%;
    color: var(--blue);
    background: var(--blue-light);
}

.filters button span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.2rem;
    min-width: 4.6rem;
    height: 4.6rem;
}


/* info */

.info {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    padding-bottom: 3rem;
}

.info .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--gray-light);
    color: var(--blue);
    border-radius: 50%;
}

.info p {
    padding-left: 1rem;
}


/* MAIN */

.accommodation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Accommodation section */

.accommodation {
    flex-basis: 65%;
    background: var(--gray-light);
    border-radius: 1.5rem;
}

.accommodation h2 {
    font-size: 2rem;
    padding: 3rem 2rem 2rem 3rem;
}

.accommodation-cards {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 30px;
}

.accommodation-cards a {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    box-shadow: 0px 0px 10px var(--shadow);
    background: var(--white);
    border-radius: 1.5rem;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.accommodation-cards a:hover {
    transform: scale(1.01);
}

.accommodation-card-item img {
    height: 11.4rem;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0 0;
}

.accommodation-card-item-sub-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 90px;
    padding: 10px 0 0 15px;
}

.accommodation-card-item .rating {
    color: var(--gray);
}

.accommodation-card-item .fa-star--activate {
    color: var(--blue);
}

.show-more {
    padding: 4rem 2rem 4rem 3.5rem;
    border: none;
    background: none;
    font-size: 1.8rem;
    font-weight: bold;
}


/* Popularity section */

.popularity {
    flex-basis: 32%;
    background: var(--gray-light);
    border-radius: 1.5rem;
}

.popularity-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 4.5rem 2rem 3rem;
}

.popularity-header h2 {
    font-size: 2rem;
}

.popularity-header i {
    font-size: 2rem;
}

.popularity-cards {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 40px;
}

.popularity-card-item {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    box-shadow: 0px 0px 10px var(--shadow);
    background: var(--white);
    border-radius: 1.5rem;
    padding: 0.5rem;
}

.popularity-cards a:hover {
    transform: scale(1.01);
}

.popularity-card-item img {
    min-width: 35%;
    max-width: 35%;
    height: 13rem;
    object-fit: cover;
    border-radius: 1.5rem 0 0 1.5rem;
}

.popularity-card-item-sub-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0 1rem 2rem;
}

.popularity-card-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popularity-card-description .card-title {
    padding-bottom: 1rem;
}

.popularity-card-item .rating {
    color: var(--gray);
}

.popularity-card-item .fa-star--activate {
    color: var(--blue);
}


/* Activities section */

.activities h2 {
    font-size: 2rem;
    padding: 30px 0 30px 0;
    margin-top: 3rem;
}

.activities-cards {
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-template-rows: auto;
    grid-gap: 40px;
}

.activities-card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 10px var(--shadow);
}

.activities-card-item,
.activities-card-item a,
.activities a:nth-child(1) img,
.activities a:nth-child(4) img {
    height: 100%;
}

.activities-card-item:hover {
    transform: scale(1.01);
}

.activities a:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.activities a:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.activities a:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.activities a:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.activities a:nth-child(5) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.activities a:nth-child(6) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.activities-card-item img {
    width: 100%;
    height: 17.6rem;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0 0;
}

.activities-cards h3 {
    padding: 20px;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0px 0px 10px #a1a1a1;
}


/* FOOTER */

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background: var(--gray-light);
    margin-top: 6rem;
    padding-right: 20rem;
    height: 21.8rem;
}

.footer-item h3 {
    font-size: 1.8rem;
    padding-top: 5rem;
}

.footer-item li {
    padding-top: 1.6rem;
}

@media screen and (max-width: 767px) {
    .container {
        margin: 0;
    }
    .nav {
        position: relative;
        display: block;
        padding-bottom: 4rem;
    }
    .logo img {
        padding-left: 1.5rem;
    }
    .nav ul {
        margin-top: 2.5rem;
        justify-content: space-around;
    }
    .nav li:last-child {
        position: absolute;
        top: 7rem;
        right: 0;
    }
    .nav-link:nth-child(1),
    .nav-link:nth-child(2) {
        border-top: none;
        border-bottom: 2px solid var(--gray-light);
    }
    .nav-link:hover {
        border-top: none;
        border-bottom: 2px solid var(--blue);
    }
    .nav-link {
        padding: 1rem 5rem;
    }
    .register-link {
        margin: unset;
    }
    /* Search section */
    .search {
        padding: 0 2rem;
    }
    .search h1 {
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    .search .location {
        font-size: 1.45rem;
    }
    .search-form {
        margin-bottom: 1.5rem;
        padding-bottom: unset;
    }
    .search-form i:last-child {
        margin-right: 2rem;
        border-radius: 1.5rem;
        color: #fff;
        background: var(--blue);
    }
    .search-form input {
        max-width: 21rem;
    }
    .search-button {
        display: none;
    }
    .search-icon {
        display: inline-block;
    }
    .info .icon {
        align-self: flex-start;
    }
    .info p {
        font-size: 1.4rem;
    }
    /* MAIN */
    .accommodation-container {
        flex-direction: column;
    }
    /* Accommodation */
    .accommodation {
        background: var(--white);
    }
    .accommodation h2 {
        padding: 3rem 0rem 2rem 2rem;
    }
    .accommodation-cards {
        grid-template-columns: 1fr;
    }
    .accommodation-card-item {
        width: auto;
        padding: 0.5rem;
    }
    .accommodation-card-item a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
    }
    .accommodation-card-item img {
        width: 100%;
        height: 13rem;
        padding: 0;
    }
    .accommodation-card-item-sub-content {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        padding: 1rem 0 1rem 1rem;
    }
    .accommodation-card-item .card-title {
        font-size: 1.6rem;
        padding-bottom: 1rem;
    }
    .show-more {
        padding: 2rem;
    }
    /* Popularity */
    .popularity {
        order: -1;
        border-radius: 0;
    }
    .popularity-header {
        padding: 5rem 2rem 2rem 2rem;
    }
    .popularity-cards {
        width: 95%;
        padding: 0 4%;
        margin-bottom: 5rem;
    }
    /* Activities */
    .activities {
        padding: 0 4%;
    }
    .activities h2 {
        margin-top: 0;
    }
    .activities-cards {
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
    .activities a {
        height: 22.3rem;
        margin-bottom: 1rem;
    }
    .activities-card-item {
        height: 23.5rem;
    }
    .activities a:nth-child(1) img,
    .activities a:nth-child(4) img {
        height: 17.6rem;
    }
    /* FOOTER */
    .footer {
        flex-direction: column;
        margin-top: 3rem;
        padding: 0 4% 12% 4%;
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    .filters {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: "filter-title ." "economic familial" "romantic ." "animals animals";
        row-gap: 0.15rem;
    }
    .filter-title {
        grid-area: filter-title;
    }
    .economic {
        grid-area: economic;
    }
    .familial {
        grid-area: familial;
    }
    .romantic {
        grid-area: romantic;
    }
    .animals {
        grid-area: animals;
    }
    .filters h2 {
        margin-right: 0;
    }
    .filters .filter-link {
        padding: 0 2rem 0 0;
        border-radius: 3rem;
        margin-right: 0;
        margin-bottom: 0;
    }
    .filters .familial {
        max-width: 12.8rem;
    }
    .filters .animals {
        width: 19.7rem;
    }
    .filter-link i {
        min-width: 4.3rem;
        min-height: 4.3rem;
        font-size: 1.6rem;
        border-radius: 50%;
        color: var(--blue);
        background: var(--blue-light);
    }
    .filters button span {
        min-width: 4.3rem;
        min-height: 4.3rem;
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1000px) {
    .search-form {
        padding-bottom: 0;
    }
    .filters {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "filter-title . " "economic familial" "romantic animals";
        row-gap: 0.15rem;
    }
    .filter-title {
        grid-area: filter-title;
    }
    .economic {
        grid-area: economic;
    }
    .familial {
        grid-area: familial;
    }
    .romantic {
        grid-area: romantic;
    }
    .animals {
        grid-area: animals;
    }
    .filters .filter-link {
        margin-bottom: 2.2rem;
        justify-self: start;
    }
    .footer {
        justify-content: space-around;
        padding-right: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    /* MAIN */
    .accommodation-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        row-gap: 3rem;
    }
    .accommodation {
        grid-row: 2 / 3;
    }
    .popularity {
        grid-row: 1 / 2;
    }
    .popularity-cards {
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 5rem;
    }
    .popularity-card-item {
        flex-direction: column;
        flex-flow: wrap;
    }
    .popularity-card-item img {
        width: 100%;
        min-width: 100%;
        max-width: 0;
        border-radius: 1.5rem 1.5rem 0 0;
    }
    .popularity-card-item-sub-content {
        align-content: space-around;
        padding: 0 0 0 2rem;
    }
    .popularity-card-description .card-title {
        padding-bottom: 0;
    }
    .activities-cards {
        grid-template-columns: repeat(3, 1fr);
    }
    .activities a:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .activities a:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .activities a:nth-child(3) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .activities a:nth-child(4) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .activities a:nth-child(5) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .activities a:nth-child(6) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    .activities-card-item {
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
    .activities-card-item img,
    .activities-card-item a {
        height: 22rem;
    }
    .activities-card-item h3 {
        padding: 20px;
        flex: 1;
    }
}